# Source files
src/**
test/**

# Development files
.vscode/**
.vscode-test/**
.gitignore
.eslintrc.json
.pnpm-store/**
node_modules/**
tsconfig.json
tsconfig.test.json
.github/**
.devcontainer/**

# Docker files
Dockerfile*
.dockerignore

# Documentation and examples
examples/**
deno/**
feminist-inclusion-leadership-center/**
*.md
!README.md
!CHANGELOG.md

# Build process files
esbuild.js
get_extension_code.ps1

# Test outputs
out/**
coverage/**
**/*.map
**/*.ts

# Exclude everything in dist except the main extension
dist/test/**
dist/**/*.map

# Package files
*.vsix
.npmrc
pnpm-lock.yaml

# Misc
.git/**
**/.DS_Store